{% extends "base.jinja" %} {% block informacion %}

<form  id="form-pwd"style="width:40vw;display: block;justify-content: center; border:none;padding-right:50px;">
  <h3 style='text-align:left'>Hey! <br><code id="correo" style='color:blue'>{{ correo }}</code> <br></h3>
  <h6>Haz hecho una petición para cambiar tu contraseña, si no haz sido tú por favor ignora este e-mail</h6>
  <div class="mb-3">
    <label for="pwd1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="pwd1" />
  </div>
  <div class="mb-3">
    <label for="pwd2" class="form-label">Repita la contraseña</label>
    <input type="password" class="form-control" id="pwd2" name="hol"/>
  </div>
  <button type="button" class="btn btn-primary" id="btn-enviar" style="width:180px;padding-top:15px;padding-bottom:15px;display:flex; justify-content:center;border:none;text-align:center;margin:0 auto;">
    Cambiar Password
  </button>
  <hr>
  <p>Need help?<code style='color:blue'> Contact our support team </code>Want to give us feedback?Let us know what you think</p>
  <hr>
  <div style='margin:0 auto;text-align:center'>
  <h5>Dato curioso 🧐 </h5>
  <h6>Sabías que gracias al <code style='color:blue;'> encriptamiento </code> evitas robos de tú información personal?</h6>
</div>
</form>
<script src="{{ url_for('static', filename='change_password.js') }}"></script>
{% endblock%} {%block titulo %} Cambiar password {%endblock%}

  