{% extends "base.jinja" %} {% block informacion %}
<form  style="width:50vw;display: block;justify-content: center; border:none;padding-right:50px;">
  <div class="mb-3">
    <label for="pwd1" class="form-label">Password</label>
    <input type="password" class="form-control" id="pwd1" />
  </div>
  <div class="mb-3">
    <label for="pwd2" class="form-label">Repita la password</label>
    <input type="password" class="form-control" id="pwd2" />
  </div>
  <button type="button" class="btn btn-primary" id="btn-enviar" style="width:46vw;display:flex; justify-content:center;border:none">
    Cambiar Password
  </button>
</form>
<script src="{{ url_for('static', filename='change_password.js') }}"></script>
{% endblock%}

  